.total {
    padding: 1rem;
    background: rgba(172, 167, 151, 70%);
    width: 70rem;
    margin-left: 31.5rem;
}

.homeBtn {
    color: var(--ebony);
    border: 0.1rem solid var(--sepia);
    top: 2rem;
    position: absolute;
    right: 3rem;
    cursor: pointer;
    font-size: larger;
}

.spanHome {
    display: none;
}

.homeBtn:hover .spanHome {
    display: inline;
    transition: 0.3ms;
}

.detailImage {
    height: 30rem;
    max-width: 70rem;
    width: auto;
    border-radius: 1rem;
}

.idDetail {
    font-size: smaller;
}

.launchDetail {
    font-size: smaller;
}

.description {
    padding: 2rem;
}

.genPlat {
    font-weight: bold;
}