.total {
    padding: 2rem;
    display: flex;
}

.homeBtn {
    color: var(--ebony);
    border: 0.1rem solid var(--sepia);
    top: 2rem;
    position: absolute;
    right: 3rem;
    cursor: pointer;
    font-size: larger;
}

.spanHome {
    display: none;
}

.homeBtn:hover .spanHome {
    display: inline;
    transition: 0.3ms;
}

.detailImage {
    height: 30rem;
    max-width: 40rem;
    width: auto;
    border-radius: 1rem;
}

.idDetail {
    font-size: smaller;
}

.detailTotal {
    display: flex;
    justify-content: center;
    align-content: center;
}

.textos {
    padding: 15rem;
    background: rgba(172, 167, 151, 70%)
}

.description {
    font-weight: bolder;
}