.upperDiv {
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.image {
    height: 20rem;
    border-radius: 1rem;
    width: auto;
}

.divGenres {
    display: none;
    font-weight: bolder;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--sepia);
    opacity: 0.6;
    border-radius: 0.5rem;
}

.imgName {
    position: relative;
    border-radius: 1rem;
    background: transparent;
}

.imgName:hover {
    overflow: visible;
    height: auto;
    z-index: 999;
    transform: scale(1.2);
    transition: 3ms;
}

.imgName:hover .nameGame {
    font-size: larger;
    background-color: var(--blue);
    color: var(--bone);
    transform: scale(1.4);
    margin-left: 10%;
    margin-bottom: 10%;
    transition: 3s;
}


.imgName:hover .divGenres {
    display: block;
}

.nameGame {
    position: absolute;
    bottom: 0.1rem;
    left: 0.3rem;
    background-color: var(--sepia);
    opacity: 0.6;
    font-size: large;

    color: var(--blue);
    padding-right: .5rem;
}