.formDiv {
    margin-left: 2rem;
    margin-top: 10rem;
    padding: 0.2rem;
    background: rgba(26, 61, 88, 70%);
    color: var(--blue);
    width: 50rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

label {
    font-weight: 600;
}

input {
    width: 40rem;
}